/* .navbar {
  background-color: red;
} */

.navbar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  width: 700px;
  transition: .4s;
}

.navbar ul li a {
  font-size: 1.3em;
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding: 10px 30px;
  color: #000;
  transition: .4s;
  font-weight: 500;
}

.navbar ul li a:hover {
  color: #fff;
}

.navbar ul li a::before {
  content: '';
  background-color: #212121;
  display: block;
  position: absolute;
  inset: 0;
  z-index: -1;
  transition: transform 300ms ease;
  transform-origin: right;
  transform: scaleX(0);
  border-radius: 5px;
  
}

.navbar ul li a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

@media (max-width: 1110px) {
  .navbar ul {
    width: 500px;
  }
}

@media (max-width: 800px) {
  .navbar ul {
    width: 100%;
  }
}

@media (max-width: 517px) {
  .navbar ul li a {
    font-size: 1.1em;
  }
}